.container {
	width: 960px;
	margin: 0 auto;
}
a {
	color: #39F;
}
a:hover {
	color: #0C0;
}
a:active {
	color: #F33;
}
a:visited {
	color: #D1AFF8;
}
/*顶部banner*/
#header{background:#2BA6CB;}
#header h1 a{ font-size:40px; font-weight:400; color:#fff; text-decoration:none;}
#header h2 { color:#fff;}
.header-inner { margin-bottom:20px; }
/*主导航*/
.mainnav { margin-bottom:20px;}
.mainnav li{float: left;
	padding: 5px 10px; background:#2590B0; margin-right:8px;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;

}
.mainnav li.active { background-color:#fff;}
.mainnav li.active a { color:#333;}
.mainnav li a { font-size:14px; text-decoration:none; color:#fff;}
/*选项卡*/
.tab {
	border-bottom: 1px solid #39F;\
	
	
	
	
	padding-left: 20px;
	margin-bottom:20px;
}
.tab li {
	float: left;
	padding: 4px 8px;
	border: 1px solid #39F;
	border-top-width: 3px;
	margin-bottom: -1px;
	margin-right: 5px;
	position:relative; /*ie hack*/
}
.tab li.active {
	border-bottom-color: #fff;
}
.tab li a {
	font-size: 14px;
	text-decoration:none;
	color:#39F;
}
/*内容区域*/
	/*侧栏*/
	#sidebar { float:left; width:220px;}
	.sidenav h4 { font-size:14px; color:#666; padding-bottom:5px; border-bottom:1px solid #e6e6e6; margin-bottom:5px;}
	.sidenav ul{ margin-bottom:5px;}
	.sidenav ul li { height:24px; line-height:24px;}
	.sidenav ul li a { text-decoration:none;}
	/*主体内容区域*/
	#maincontent { float:right; width:730px;}
/*底部*/
#footer { border-top:1px solid #e6e6e6; margin-top:20px; padding-top:20px;}
#footer p{ text-align:center;color:#999;}
#footer p a { }